.cards{
    max-width: 1264px;
    margin: 0 auto;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 271px));
    gap: 8rem 6rem;
    justify-content: center;
}
.cards > p{
    text-align: center;
    font-size: 3rem;
    color: var(--very-dark-blue);
}