/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}
input,
input:focus{
    border: none;
    outline: none
}
/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

/* VARIABLES */
html{

    overflow-x: hidden;

    --white: hsl(0, 0%, 100%); 
    
    --very-dark-blue : hsl(200, 15%, 8%);
    --dark-gray: hsl(0, 0%, 52%);  
    --very-light-gray: hsl(0, 0%, 98%);

    width: 100vw;
    height: 100vh;
    font-family: 'Nunito Sans', sans-serif;

    /* 1rem = 16px (User Agent) = 100% (User Agent) */
    font-size: 62.5% /* 10px */
}
html,body,#root{
    background-color: var(--very-light-gray);
}

html.dark{
    --very-dark-blue : hsl(0, 0%, 100%); 
    --dark-gray: hsl(0, 0%, 52%); 
    --very-light-gray: hsl(207, 26%, 17%);  
    --white: hsl(209, 23%, 22%);
}
/* SCROLLBAR WIDTH */
::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}
.wrapper::-webkit-scrollbar {
    width: 20px;
    height: 8px;
}
  
/* SCROLLBAR TRACK */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--very-light-gray); 
    border-radius: 5px;
}
  
  /* SCROLLBAR HANDLE */
::-webkit-scrollbar-thumb {
    background: var(--dark-gray); 
    border-radius: 5px;
}
  
  /* SCROLLBAR HANDLE ON HOVER */
::-webkit-scrollbar-thumb:hover {
    background: var(--dark-gray); 
}
